.carousel-item{
   background-color: #080808;
}
.carousel-item img{
    opacity: 0.5;
}
 .carousel-caption{
    color: #ffffff;
    right: 50%;
    left: 50%;
    text-align: center;
  margin-bottom: 150px;
}
.carousel-caption h5{
    margin-bottom: 5%;
    font-size: 50px;
}
.main{
  border: #080808;
  width: 50%;
  
}


